[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/home/faye/git/.push.sh
GenericName[en_US]=
GenericName=
Icon=system-run
MimeType=
Name[en_US]=Git Push
Name=Git Push
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
